*{
    box-sizing: border-box;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}


body{
    margin: 0;
}

.headercontainer{
width: 100%;
height: 96vh;

 background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("./assets/banner.jpg");
 

}
.headerpart1{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 200px;

}
.signinbtn{
    background-color: red;
    color: white;
    width: 90px;
    height: 34px;
    border:none;
    margin-top: 20px;
    margin-right: 40px;
    border-radius: 3px;
    /* font-weight: bold; */
    font-size: 15px;
}


.lngbtn{
    background:none;
    color: rgb(229, 214, 214);
    width: 98px;
    height: 34px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 40px;
    border-radius: 3px;
  
    border-color:white;
    /* font-weight: bold; */
    font-size: 15px;
}

.headerpart2{
      margin-left: 440px;
      margin-top: 140px;
    display: flex; 
    justify-content: center;
    flex-direction: column;
   
    
}
.headerpart2 .spanh1{
    /* background-color: aquamarine; */
    color: white;
    font-size: 65px;
    font-weight: bolder;
}

.headerpart2 .spanh2{
    color: white;
    font-size: 25.6px;
    margin-left: 140px;
   
}
.headerpart2 .spanh3{
   
    color: white;
    font-size: 19.2px;
   
}
.emailbox{
    height: 69px;
}

input{
    margin-top: 28px;
  height: 100%;
    width: 500px;
    border: none;
    

}
.btn{
    /* margin-top: 45px; */
    height:100%;
    width: 230px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: normal;
    /* padding: 0; */
    border: none;

}
.linbreaker{
    width: 100%;
    height: 10px;
    background-color:  rgb(33, 24, 24);
   
}
.section1{
    background-color: black;
    display: flex;
   color:white;
   height: 480px;
   


}

.headfont{
    
    font-size: 47px;
     font-weight: bold;
     line-height: 1.8;
     color: white;
  }
  .contentfont{
    font-size: 1.625rem;
    font-weight: 400;
    color: white;
  }
  .section1parent{
    display: flex;
    height: 480px;
    background-color: black;
    /* justify-content: space-evenly; */
  }
  .section1leftchild{
    margin-top: 100px;
    margin-left: 170px;
  }

  .section1rightchild{
    /* margin-top: 100px; */
    margin-left: 170px;
  }

  .video1{
    /* transform: translate(90px,100px); */
    margin-top: 10px;
   height: 400px;
   width: 448px;
  }

  .video2{
  transform: translate(90px,30px);
    height: 340px;
   width: 350px;
  }
  


  .tv{
    transform: translate(190px,-390px);
  } 

  .tv2{
    transform: translate(0px,-280px);
  } 





  .section2rightchild{
    margin-top: 110px;
    margin-left: 170px;
  }
  .section2leftchild{
    margin-top: 40px;
    margin-left: 170px;
  }

  .section5{
    width: 100%;
    height: 1000px;
    background-color: black;
  }

  .s5container{
   margin-left: 350px;
   margin-right: 350px;
   background-color: black;

  }
.rectnglebox{
    height: 200px;
    width: 100%;
   
    background: #303030;
    color: white;

    height: 70px;

    padding-top: 1px;
    padding-left: 20px;
    margin-bottom: 9px;
    text-align:left;
}
.rectnglebox {
    display: flex;
    justify-content: space-between;
  
    
}
.rectnglebox p{
    font-size:23px;

}
.heading{
    margin-left: 35px;
    font-size:55px;
    color: white;
}

footer{
    background-color: black;
    height: 400px;
}
footer .container{
     margin-top: 40px;
    margin-left: 350px;
   margin-right: 350px;
   background-color: black;
   color: rgb(143, 134, 134);

}


th,td{
    padding-right: 37px;
    padding-top: 14px;
    text-align: left;
   
}


.lngbtn2{
    background:none;
    color: rgb(143, 134, 134);
    width: 100px;
    height: 42px;
    font-weight: normal;
    margin-top: 20px;
    margin-right: 40px;
    border-radius: 3px;
  
    border-color:white;
    /* font-weight: bold; */
    font-size: 15px;
}

.netflixindia{
    margin-top: 20px;
}

.plusicon{
   font-size: 40px;   
   margin-right: 30px;
}